name: Postman CLI Challenge

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install Postman CLI
        run: npm install -g postman-cli
      
      - name: Run Postman Echo
        run: postman collection run 91528472-6e68-41d6-ae60-89187aacd7ac
